@keyframes fade-in-animation {
    from {
        max-height: 0px;
        overflow: hidden;
    }
    to {
        max-height: 200px;
    }
}
.fadeIn {
    transition: height 500ms;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-name: fade-in-animation;
}
.dialogPreview > div:first-child {
    flex: 1;
    min-width: 0;
}
.ulestDialog {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.blueIndicator {
    width: 0.5rem;
    background-color: var(--ax-bg-accent-strong);
    flex-shrink: 0;
    border-top-left-radius: var(--ax-radius-2);
    border-bottom-left-radius: var(--ax-radius-2);
}
