@keyframes fade-in-animation {
    from {
        max-height: 0px;
        overflow: hidden;
    }
    to {
        max-height: 200px;
    }
}
.fadeIn {
    transition: height 500ms;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-name: fade-in-animation;
}
.blueIndicator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5rem;
    background-color: var(--ax-bg-accent-strong);
    z-index: 1;
    pointer-events: none;
}

.arrowArea {
    grid-area: arrow;
}

