.etikett {
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.15rem;
    padding: 0 0.4rem;
}

.venterPaBruker {
    background-color: var(--ax-meta-lime-700);
    border: 1px var(--ax-meta-lime-400) solid;
}

.venterPaNav {
    background-color: var(--ax-meta-purple-700);
    border: 1px var(--ax-meta-purple-400) solid;
}

.viktigMelding {
    background-color: var(--ax-danger-600);
    border: 1px var(--ax-danger-400) solid;
}
