@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@plugin "@tailwindcss/typography";
@config '../tailwind.config.js';

.chat-avatar-info .aksel-chat__avatar {
    background: var(--ax-bg-brand-blue-strong) !important;
    border: 1px solid var(--ax-bg-brand-blue-strong-pressed) !important;
    color: #f5f5f5 !important;
}

.chat-avatar-info .aksel-chat__top-text {
    color: #f5f5f5 !important;
}

.chat-avatar-info .aksel-chat__bubble {
    color: #f5f5f5 !important;
}

.chat-avatar-info .aksel-chat__bubble .prose {
    --tw-prose-body: #f5f5f5 !important;
    --tw-prose-headings: #f5f5f5 !important;
    --tw-prose-links: #f5f5f5 !important;
    --tw-prose-bold: #f5f5f5 !important;
    --tw-prose-bullets: #f5f5f5 !important;
    --tw-prose-counters: #f5f5f5 !important;
    color: #f5f5f5 !important;
}

.chat-avatar-neutral .aksel-chat__avatar {
    background: var(--ax-bg-neutral-soft);
    border: 1px solid var(--ax-border-neutral);
}

.prose-compact {
    /* Make sure bullet points in lists are correct color */
    --tw-prose-bullets: currentColor;
    --tw-prose-counters: currentColor;

    /* Compact horizontal rule, make sure border color is same color as font */
    & hr {
        border-color: currentColor;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    & :is(ul, ol) {
        padding-left: 1.25em !important;
    }
    & :is(li) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    /* Not sure why but list-elements sometimes wrap items in p, make sure not to add extra space */
    & :is(ul, ol) > li > p {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    & li > :is(ul, ol) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

}
