name: Format
on: [workflow_dispatch]
jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
            - uses: actions/setup-node@v5
              with:
                  registry-url: "https://npm.pkg.github.com"
                  node-version: 22
            - name: Format
              run: |
                  npm ci
                  npm run format-all
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v4.6.0
              with:
                  commit_user_name: Prettier bot
                  commit_author: Prettier bot <dab@nav.no>
                  commit_message: Apply formatting changes
                  branch: ${{ github.head_ref }}
