name: Test

on: [push, workflow_dispatch]

env:
    PRINT_PAYLOAD: true
    TZ: Europe/Amsterdam
    CI: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v5
              with:
                  registry-url: "https://npm.pkg.github.com"
                  node-version: 20
            - name: Install bun
              uses: oven-sh/setup-bun@v2
            - name: Install dependencies (bun)
              run: bun install
              env:
                BUN_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
            - run: npm run test
            - run: npm run build
